openapi: 3.1.0
info:
  title: OpenWeatherMap Accumulated Parameters Weather Maps API
  version: 2.5.0
  description: Returns accumulated temperature and accumulated precipitation totals over a user-specified historical time window. Targeted at agricultural and energy-sector applications. Available on Professional and Expert plans.
  contact:
    name: OpenWeather
    url: https://openweathermap.org/api/accumulated-parameters
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://history.openweathermap.org/data/2.5/history
  description: Accumulated Parameters API base URL
security:
- appid: []
tags:
- name: Weather Maps
  description: Weather layer tile service for map overlays.
paths:
  /map/{layer}/{z}/{x}/{y}.png:
    get:
      operationId: getWeatherMapTile
      summary: Weather Map Tile For A Layer
      description: Returns a PNG tile image for the requested weather layer at the given z, x, y tile coordinate.
      tags:
      - Weather Maps
      parameters:
      - name: layer
        in: path
        required: true
        description: Weather layer to render.
        schema:
          type: string
          enum:
          - clouds_new
          - precipitation_new
          - pressure_new
          - wind_new
          - temp_new
      - name: z
        in: path
        required: true
        description: Tile zoom level.
        schema:
          type: integer
      - name: x
        in: path
        required: true
        description: Tile X coordinate.
        schema:
          type: integer
      - name: y
        in: path
        required: true
        description: Tile Y coordinate.
        schema:
          type: integer
      - name: appid
        in: query
        required: true
        description: OpenWeather API key.
        schema:
          type: string
      responses:
        '200':
          description: PNG tile image.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
        '429':
          description: Too many requests.
components:
  securitySchemes:
    appid:
      type: apiKey
      in: query
      name: appid
