openapi: 3.1.0
info:
  title: OpenWeatherMap Road Risk API
  version: 2.5.0
  description: >-
    Returns route-specific weather data, national alerts, current conditions
    plus 5-day forecast, and 1 year of historical data for a sequence of
    waypoints. Available under a custom quote.
  contact:
    name: OpenWeather
    url: https://openweathermap.org/api/road-risk
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
  - url: https://api.openweathermap.org
    description: Road Risk API base URL
paths:
  /data/2.5/roadrisk:
    post:
      operationId: postRoadRisk
      summary: Route Weather And Road Risk
      description: >-
        Accepts a track of waypoints with coordinates and timestamps and
        returns route weather, road surface state, and alert information for
        each waypoint.
      tags:
        - Road Risk
      parameters:
        - name: appid
          in: query
          required: true
          description: OpenWeather API key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoadRiskRequest'
      responses:
        '200':
          description: Road risk response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoadRiskResponseItem'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
        '429':
          description: Too many requests.
components:
  schemas:
    RoadRiskTrackPoint:
      type: object
      required:
        - lat
        - lon
        - dt
      properties:
        lat:
          type: number
          format: float
        lon:
          type: number
          format: float
        dt:
          type: integer
          format: int64
          description: Unix timestamp. 1 year past to 5 days future.
    RoadRiskRequest:
      type: object
      required:
        - track
      properties:
        track:
          type: array
          items:
            $ref: '#/components/schemas/RoadRiskTrackPoint'
    RoadRiskResponseItem:
      type: object
      properties:
        dt:
          type: integer
          format: int64
        coord:
          type: array
          items:
            type: number
            format: float
        weather:
          type: object
          properties:
            temp:
              type: number
              format: float
            wind_speed:
              type: number
              format: float
            wind_deg:
              type: integer
            precipitation_intensity:
              type: number
              format: float
            dew_point:
              type: number
              format: float
        road:
          type: object
          properties:
            state:
              type: integer
              description: Road state code. 0 normal, 16 black ice (US/EU only).
            surface_temp:
              type: number
              format: float
        alerts:
          type: array
          items:
            type: object
            properties:
              sender_name:
                type: string
              event:
                type: string
              severity:
                type: integer
                minimum: 0
                maximum: 4
  securitySchemes:
    appid:
      type: apiKey
      in: query
      name: appid
security:
  - appid: []
tags:
  - name: Road Risk
    description: Route weather, road surface state, and alerts for a track of waypoints.
