openapi: 3.1.0
info:
  title: OpenWeatherMap Weather Maps 1.0 API
  version: 1.0.0
  description: >-
    Tile map service that overlays weather data layers (clouds, precipitation,
    pressure, wind, temperature) on top of base maps using standard z/x/y tile
    coordinates. Compatible with Leaflet, OpenLayers, Google Maps, and other
    tile-based libraries.
  contact:
    name: OpenWeather
    url: https://openweathermap.org/api/weathermaps
  license:
    name: Creative Commons Attribution-ShareAlike 4.0 International
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
  - url: https://tile.openweathermap.org
    description: Weather Maps tile server
paths:
  /map/{layer}/{z}/{x}/{y}.png:
    get:
      operationId: getWeatherMapTile
      summary: Weather Map Tile For A Layer
      description: >-
        Returns a PNG tile image for the requested weather layer at the given
        z, x, y tile coordinate.
      tags:
        - Weather Maps
      parameters:
        - name: layer
          in: path
          required: true
          description: Weather layer to render.
          schema:
            type: string
            enum:
              - clouds_new
              - precipitation_new
              - pressure_new
              - wind_new
              - temp_new
        - name: z
          in: path
          required: true
          description: Tile zoom level.
          schema:
            type: integer
        - name: x
          in: path
          required: true
          description: Tile X coordinate.
          schema:
            type: integer
        - name: y
          in: path
          required: true
          description: Tile Y coordinate.
          schema:
            type: integer
        - name: appid
          in: query
          required: true
          description: OpenWeather API key.
          schema:
            type: string
      responses:
        '200':
          description: PNG tile image.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized.
        '429':
          description: Too many requests.
components:
  securitySchemes:
    appid:
      type: apiKey
      in: query
      name: appid
security:
  - appid: []
tags:
  - name: Weather Maps
    description: Weather layer tile service for map overlays.
